<!doctype html>
<html>

	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<link href="/bootstrap.css" rel="stylesheet" type="text/css"/>
		<link href="/styles.css" rel="stylesheet" type="text/css"/>
    	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
		<!--[if lte IE 8]>
    		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
		<![endif]-->
		<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
	</head>

	<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">NYC Citibikes</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="/stations">Stations</a>
              </li>
              <li class="">
                <a href="/stations/new">Create Station</a>
              </li>
              <li class="">
                <a href="/direction">Get Directions</a>
              </li>
              <li class="">
                <a href="/">Map</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <br><br>
		<div class="container-fluid">
    	<%= yield %>
    </div>

	</body>
</html>