<!-- New Station -->

<form action="/stations" method="POST">

  <h3>Create A New Station</h3>
  <hr>
  <fieldset>

    <%= adv_partial :form, @station %>

  </fieldset>
  <input type="submit" value="Create" class="btn btn-success"> or <a href="/stations">Cancel</a>

</form>

<!-- 
station[availableBikes]
station[availableDocks]

station[statusValue]
station[statusKey]

station[city]
station[postalCode]
station[location]
station[altitude]
station[testStation]
station[lastCommunicationTime]
station[landMark]
 -->
